img{
    width: 300px;
    height: 200px;
}
td,a{
    text-align: center;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
td.tit>a{
    color: white;
    text-shadow: 2px 2px 3px red;
    background-color: #99ff99;
    font-size: 40px;
    display: block;
}
a{
    text-decoration: none;
}
a:hover{
    color: blue;
}